<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.songsir.dao.mapper.SongsirMapper">

    <select id="getDemoStudent" parameterType="int" resultType="com.songsir.bean.Student">
        select * from student
        where sid = #{sid}
    </select>

    <insert id="savaFaceInfo" parameterType="com.songsir.bean.Face">
        INSERT INTO face
        <trim prefix="(" suffix=")" suffixOverrides="," >
               <if test="sex != null">
                  sex,
               </if>
               <if test="age != null">
                  age,
               </if>
               <if test="score != null">
                   score,
               </if>
               <if test="imgUrl != null">
                   imgurl,
               </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="sex != null">
                #{sex},
            </if>
            <if test="age != null">
                #{age},
            </if>
            <if test="score != null">
                #{score},
            </if>
            <if test="imgUrl != null">
                #{imgUrl},
            </if>
        </trim>
    </insert>
</mapper>